
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #244751;
  background-color: #fce38a;
  font-family:'Roboto Condensed', sans-serif;
}

.container {
  background-color: #e8fdff;
  margin: 0 auto;
  min-height: 500px;
  width: 450px;
  position: relative;
  top: 90px;
  padding-top:1px;
  border-radius:5px;
}

.container-tweets {
  margin-top: 5em;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #e8fdff;
}

.container-tweets .tweet-message {
  padding-left: 5px;
  padding-top: 25px;
  height: 60px;
}

.tweet-article {
  opacity: 0.6;
  margin-top: 10px;
  border-style: solid;
  border-radius: 5px;
  border-color: #e5e3e3;
  border-width: 1px;
}

.tweet-article:hover {
  opacity: 1;
}

.tweet-article footer .tweeting-images {
  float: right;
  opacity: 0;
}

.tweet-article:hover footer .tweeting-images {
  float: right;
  opacity: 1;
}
.container-tweets header {
  background-color: #95e1d3;
  height: 70px;
}

.container-tweets img {
  float: left;
  height: 60px;
  border-radius: 5px;
  margin: 5px;
}

.container-tweets header h3 {
  float: left;
}

.container-tweets header span {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.container-tweets footer {
  border-top: solid 1px #e0e0e0;
  font-size: 80%;
  height: 40px;
  padding: 10px;
}
