
.new-tweet {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    border-style: solid;
    border-radius: 5px;
    border-color: #c6c6c6;
    border-width: 1px;
    position: relative;
    top: 4em;
    padding: 10px;
    background-color: #eee;
}

.new-tweet textarea {
  padding:5px;
  width: 100%;
  background-color: white;
}

.new-tweet .counter {
      float: right;
      font-style: italic;
}

.new-tweet h2 {
  border-color: #c6c6c6;
  border-bottom-style: solid;
}