
.new-tweet {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  border-style: solid;
  border-radius: 5px;
  border-color: #c6c6c6;
  border-width: 1px;
  position: relative;
  top: 4em;
  padding: 10px;
  background-color: #eee;
}

.new-tweet textarea {
  padding:5px;
  width: 100%;
  background-color: white;
}

.new-tweet .counter {
  float: right;
  font-style: italic;
}

.new-tweet .counter.negative {
  color:red;
}

.new-tweet h2 {
  border-color: #c6c6c6;
  border-bottom-style: solid;
}

.container-tweets {
  margin-top:5em;
  margin-left: 2em;
  margin-right: 2em;

  background-color: white;
}

.container-tweets .tweet-message {
  padding-left: 5px;
  padding-top:25px;
  height:60px;
}

.tweet-article {
  opacity: 0.6;
  margin-top:10px;
  border-style: solid;
  border-radius: 5px;
  border-color: #e5e3e3;
  border-width: 1px;
}

.tweet-article:hover {
  opacity: 1;
}

.tweet-article footer .tweeting-images {
  float:right;
  opacity:0;
}

.tweet-article:hover footer .tweeting-images {
  float:right;
  opacity:1;
}
.container-tweets header {
  background-color: #eeeeee;
  height: 70px;
}

.container-tweets img {
  float:left;
  height:60px;
  border-radius: 5px;
  margin:5px;
}

.container-tweets header h3 {
  float: left
}

.container-tweets header span {
  float:right;
  margin-right:10px;
  margin-top:10px;
}


.container-tweets footer {
  border-top: solid 1px #e0e0e0;
  font-size: 80%;
  height: 40px;
  padding: 10px;
}

