.new-tweet {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  border-style: solid;
  border-radius: 5px;
  border-color: #c6c6c6;
  border-width: 1px;
  position: relative;
  top: 4em;
  padding: 10px;
  background-color: #eee;
  height: 170px;
}

.new-tweet textarea {
  padding: 5px;
  width: 100%;
  background-color: white;
}

.new-tweet .counter {
  float: right;
  font-style: italic;
}

.new-tweet .counter.negative {
  color: #d1364d;
}

.new-tweet h2 {
  border-color: #c6c6c6;
  border-bottom-style: solid;
}

.no-text {
  color: #d1364d;
  margin-left: 75px;
}

.too-long {
  color: #d1364d;
  margin-left: 75px;
}

.new-tweet input {
  float: left;
}
